.pagination-item {
    
    &__caption {
        color: #55648b !important;
    }

    &__select {
        color: #55648b !important;
        font-size: 12px !important;
        padding-bottom: 6px !important;
    }
}