@import "../../../../assets/styles/variables";

.button {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    background: white;
    outline: none;
    text-align: center;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
    color: $button-text;
    display: flex;
    align-items: center;
    padding: 0;

    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 8px 16px;
    }

    &__wrapper {
        margin: 0 auto;
        white-space: nowrap;
    }

    &__loader {
        svg {
            height: 23px;
        }
    }
    &__chevron-wrapper {
        margin-left: 12px;
        width: 24px;
        height: 24px;
        
        &__chevron {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            &--bottom {
                transform: rotateZ(90deg);
                transform-origin: center center;
            }
        }
    }

    &--primary {
        background-color: $primary;
        border: 2px solid $primary;

        a {
            color: white;
        }

        &:hover {
            background-color: #e0496f;
        }

        &:active {
            background-color: $primary;
            border: 2px solid #9c2c4b;
        }

        &--disabled {
            background-color: $disabled;
            cursor: not-allowed;
            border: 2px solid $disabled;
            &:hover {
                background-color: $disabled;
            }
        }
    }

    &--secondary {
        border: 2px solid $border;
        color: $primary;

        a {
            color: $primary;
        }

        &:hover {
            border-color: $primary;
        }

        &:active {
            border-color: $primary-light;
        }

        &--disabled {
            border: 2px solid $border;
            cursor: not-allowed;
            color: $disabled;
            &:hover {
                background-color: $disabled;
            }
        }
    }

    &--tertiary {
        border: 2px solid $border;
        color: $tertiary;
        font-weight: normal;

        a {
            color: $tertiary;
        }

        &:hover {
            border-color: $tertiary-dark;
            color: black;
        }

        &:active {
            border-color: $tertiary-light;
        }

        &--disabled {
            border: 2px solid $border-light;
            cursor: not-allowed;
            color: $border;
            &:hover {
                background-color: $disabled;
            }
        }
    }

    &__action {

        &--single {
            width: 100%;
            justify-content: center;
        }
        &--highlighted {
            background-color: $highlight;
            border-color: $highlight;
        }
    }
}