@import "../../../../assets/styles/variables";

.get-balance {
  &__title {
    margin-bottom: 35px;
  }
  &__balance-label {
    margin-bottom: 20px;
    color: $tertiary-dark;
  }
  &__account {
    &__label {
      margin-bottom: 10px;
      color: $tertiary-dark;
    }
  }

  &__overlay {
    background-color: $header-bg;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

    &--currency {
        font-size: 10px;
    }
}