// Fonts
$fontface-qc-bold: "Qc-bold";
$fontface-qc-regular: "Qc-regular";
$fontface-arial: "Arial";

// Typography
$text-primary: #000;
$body-primary: #67696d;
$disabled: #b0b2b8;
$border: #d3d6db;
$border-light: #eaecef;
$border-disabled: #eaecef;
$divider: #f9f9f9;

// Colors
$primary: #c1395b;
$primary-light: #eec5cf;
$secondary: #049e71;
$tertiary: #67696d;
$tertiary-light: #d3d6db;
$tertiary-dark: #67696d;
$highlight: #df2700;
$highlight-light: #fcebe6;
$success-light: #8cd2be;

$header-bg: #fbc605;

$button-text: #ffffff;

// Tables
$table-cell-padding: 12px 25px;
$table-row-odd-background: #f9f9f9;

// Responsive
$tablet-resolution: 768px;
$mobile-resolution: 480px;

// z-index
$menu-open: 500;