.loader-wrapper {
    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 120;
        position: relative;
        
        $offset: 187;
        $duration: 1.4s;
        
        &__spinner {
            animation: rotator $duration linear infinite;

            &__path {
                stroke-dasharray: $offset;
                stroke-dashoffset: 0;
                transform-origin: center;
                stroke: #5d5d5d;
                animation:
                    dash $duration ease-in-out infinite, 
            }
        }

        @keyframes rotator {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(270deg); }
        }

        @keyframes dash {
            0% { stroke-dashoffset: $offset; }
            50% {
                stroke-dashoffset: $offset/4;
                transform:rotate(135deg);
            }
            100% {
                stroke-dashoffset: $offset;
                transform:rotate(450deg);
            }
        }
    }
}

  .loader-exit {
    opacity: 0.01;
    transition: all 300ms ease-out;
  }
  
  .loader-exit-active {
    opacity: 0.01;
    transition: all 300ms ease-out;
  }