.tooltip {
    width: 200px;
    border-radius: 4px;
    background: rgba(0, 0, 0, .85);
    color: white;
    font-size: 12px;
    line-height: 16px;

    &__icon-wrapper {
        margin: 0 !important;
        height: 22px;
    }
}