@import "../../../../assets/styles/variables";

.back-icon {
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--disabled {
        fill: $disabled;
    }

    &--enabled {
        fill: #000;
    }
}